.app .quiz-box{
  width: 700px;
  margin: 0 auto;
  padding: 2rem 0;
}

.app .quiz-box .bottom-btn{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.app .quiz-box .bottom-btn .check-answers-btn, .app .quiz-box .answers-msg .play-again-btn{
  border-style:none;
  background: #4D5B9E;
  border-radius: 15px;
  color: #F5F7FB;
  font-size: 1rem;
  padding:0.8rem 2rem;
}

.app .quiz-box .answers-msg{
  display: flex;
  justify-content: space-around;
  align-items:center;
  margin-top:2rem;
}

.app .quiz-box .answers-msg h3{
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 767px){
  .app .quiz-box{
    width: 80%;
  }
}

@media screen and (max-width: 480px){
  .app .quiz-box .answers-msg{
    display:block;
  }
}